<div class="container-fluid px-4 box-home">
    <h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consulta</li>
    </ol>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="messageSuccess">
                    {{ messageSuccess }}
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of messageError">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-custom" (click)="newRegistration()"><i class="fa-solid fa-plus"></i><span
                    class="text-button">Cadastrar</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover mt-2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Data de Cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerArray">
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.cpf }}</td>
                        <td>{{ customer.registerDate }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary mx-3"
                                routerLink="/customer-update-form/{{ customer.id }}"><i
                                    class="fa-solid fa-pen-to-square"></i></button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" (click)="preparingDeleteCustomer(customer)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Confirmação para exclusão</h5>
                </div>
                <div class="modal-body" *ngIf="selectedCustomer">
                    <p><strong>Nome: </strong>{{ selectedCustomer.name }}</p>
                    <p><strong>Cpf: </strong>{{ selectedCustomer.cpf }}</p>
                    <p><strong>Data de cadastro: </strong>{{ selectedCustomer.registerDate }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" (click)="deleteCustomer()" data-bs-dismiss="modal">Confirma</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>