<div class="container-fluid px-4 box-home">
    <h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Consulta</li>
    </ol>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-custom" (click)="newRegistration()"><i class="fa-solid fa-plus"></i><span
                    class="text-button">Cadastrar</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover mt-2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Data de Cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerArray">
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.cpf }}</td>
                        <td>{{ customer.registerDate }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary mx-3"
                                routerLink="/customer-update-form/{{ customer.id }}"><i
                                    class="fa-solid fa-pen-to-square"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>